{% extends "base.html" %}

{% block title %}Home - Butterfly Classifier{% endblock %}

{% block content %}
<header class="hero-section">
    <div class="hero-overlay">
        <h1 class="display-4 text-center">
            Just when the caterpillar thought the world was over, it became a butterfly.
        </h1>
        <h2 class="mt-4 text-center">
            Love is like a butterfly. It goes where it pleases and it pleases wherever it goes.
        </h2>
        <p class="mt-3 text-center small">
            They can't be truly beautiful they are, but everyone else can. People are like that as well.
        </p>
        <a href="/input" class="btn btn-lg btn-success mt-4">Get Started</a>
    </div>
</header>
</body>

{% endblock %}